.presence-form .presence-form-submit-form-group .presence-form-submit {
    margin-top: 15px;
}

.presence-form .presence-form-submit-form-group{
    text-align: right;
}

.presence-form .map {
    height: 50vh;
}