**/obj
**/bin
**/node_modules
**/.idea
**/.vscode
**/.gitignore
**/*.Development.json
*.Test
.gitignore
.gitattributes
development-local.yml
development.yml
known_hosts
test.yml
dev.yml
PU
Diagrams
md_to_pdf.sh
*.md
Jenkinsfile
update.sh
