.presence-loader {
    padding: 100px;
}

.presence .map{
    height: 50vh;
}

.presence .presence-details {
    margin-bottom: 10px;
}

.presence{
    margin: 20px;
}

@media(min-width: 768px){
    .presence{
        margin: 50px;
    }
}